PORT=5000
MONGODB_URI=mongodb+srv://mimictroll_db_user:mimic%403011@cluster0.4m9rf0m.mongodb.net/profile_management?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=7fG9kLmP2xQ8vR5tYzA1bC3dE6hJ9KpL0mN4oS7uVwXyZ8aBcDeFgHiJkLmNoPqRsTuVwXyZ1234567890!@#
JWT_EXPIRES_IN=7d
CLIENT_URL=https://profile-management-aj6e.vercel.app
